@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg-secondary {
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex {
  display: flex;
}
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0px auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.brand {
  font-size: 3rem;
  font-weight: 700px;
}
.nav-links {
  align-items: center;
}
.nav-item {
  list-style-type: none;
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
}
.banner-content {
  max-width: 850px;
  margin: 50px auto;
  text-align: center;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700px;
}
.banner-btn {
  margin-top: 10px;
  padding: 20px 25px;
  border-radius: 8px;
  font-weight: 600px;
  border: none;
  background: rgb(255, 144, 14);
  font-size: 1.25rem;
  color: white;
}

.banner-image {
  max-width: 1440px;
  padding-bottom: 50px;
}
img.banner-img {
  width: 100%;
  height: 100%;
}
.first-parent {
  max-width: 1340px;
  height: auto;
  margin: 50px auto;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 20px;
}
.first-parent > div {
  flex: 1;
}
.child-image{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
.team-img{
  width: 100%;
  height: 100%;
}
.child-title{
  font-size: 3.5rem;
  margin-bottom: 10px;
}
span.first{
  font-weight: 900;
}
span.second{
  color: rgb(255, 144, 14);
}
.child-description{
  margin-bottom: 10px;
}
.second-parent{
  max-width: 1440px;
  height: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 50px;
  position: relative;
}

.child-1-content{
  max-width: 600px;
  max-height: 900px;
}
.child-1-image{
  height: 850px;
  width: 50%;
}
.child-1-title{
  font-size: 3rem;
  margin: 20px 0px;
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 10px;
}
.child-1-description{
  margin: 20px 0px;
}
.card{
  margin: 25px 0px;
  padding: 30px;
  border-radius: 8px;

box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}
.card h4{
  padding: 4px 0px;
}
.card p{
  padding: 4px 0px;
}


.color{
  width: 250px;
  padding: 20px;
  height: 150px;
  position: absolute;
  right: 0px;
  left: 200px;
  bottom: 0px;
  z-index: 1;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 144, 14);
  border-radius: 10px;
}
span.third{
  font-size: 3rem;
}

.reward-parent{
  max-width: 1440px;
  height: auto;
  margin: 50px auto;

}
.reward-parent-title{
  font-size: 3rem;
}
.reward-paragraph{
  width: 500px;
}
.reward-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  /* grid-template-rows: repeat(4,4fr); */
  margin: 100px 150px;
  /* justify-content: space-around; */
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  width: 241.83px;
height: 241.83px;
}
.sponsor{
  width: 542px;
  height: 129px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-title{
  
font-size: 45px;
color: rgb(19, 19, 19);
}
.sponsor-paragraph{
  margin-top: 24px;
}
.sponsor-company{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}
.sponsor-parent{
  max-width: 1440px;
  margin: 50px auto;
}
.sponsor-company img{
  filter: grayscale(100%);
}
.footer{
  max-width: 1440px;
height: 100px;
margin: 50px auto;
text-align: center;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;

background: rgb(255, 244, 231);
}


@media screen and (max-width: 576px) {
  .navbar,.nav-links,.first-parent,.second-parent {
    flex-direction: column;
    height: auto;
  }
  .second-parent{
    height: auto;
    justify-content: start;
  }
  .child-1-image{
    max-height: 500px;
    width: 100%;
  }
  .child-button{
    text-align: center;
  }
  .nav-item {
    padding: 5px;
  }
  .brand {
    font-size: 2rem;
    font-weight: 700px;
  }
  .banner-content {
    margin: 10px auto;
  }
  .banner-title {
    font-size: 2rem;
  }
  .color{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 100px;
    padding: 10px;
  }
  .text{
    font-size: 2rem;
  }
  .reward-container{
    grid-template-columns: repeat(2,1fr);
    margin: 100px 0px;
  }
  .sponsor-company{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
}
